/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,700;0,800;0,900;1,800&family=Karla:wght@400;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url('components/button.css');
@import url('components/card.css');
@import url('components/contact.css');
@import url('components/container.css');
@import url('components/hero.css');
@import url('components/list.css');
@import url('components/logo.css');
@import url('components/navbar.css');

/* Media queries */
@media (max-width: 1200px) {
}

@media (max-width: 960px) {
}

@media (max-width: 720px) {
}

@media (max-width: 660px) {
}

@media (max-width: 580px) {
}

/* Utilities */
body {
  background-color: #F9FAFB;
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  color: #1E255C;
  margin: 0;
}

h1, h2 {
  font-family: 'Jost', sans-serif;
  line-height: 1.3;
}

h1, h3 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-top: 200px;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
  color: #7D83FF;
}

h3 {
  font-size: 1.7rem;
  line-height: 1.8;
  padding: 0 40px;
  margin-bottom: 140px;
}

p {
  line-height: 1.7;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-weight: 900;
  color: #7D83FF;
  text-align: center;
  font-size: 1rem;
}

.white {
  color: #F9FAFB;
}

.dark-blue {
  color: #1E255C;
  margin: 0;
}

.blue-background {
  background-color: #7D83FF;
}
