/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,700;0,800;0,900;1,800&family=Karla:wght@400;700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url('components/button.css');
@import url('components/card.css');
@import url('components/contact.css');
@import url('components/container.css');
@import url('components/footer.css');
@import url('components/hero.css');
@import url('components/list.css');
@import url('components/logo.css');
@import url('components/navbar.css');
/*@import url('components/switch.css');*/

/* Media queries */
@media (max-width: 1200px) {
  .contact-info {
    font-size: 1.4rem;
  }
  .contact-details > i {
    font-size: 1.8rem;
    margin-right: 20px;
  }
  .footer-email {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .tool-images > img {
    width: 70%;
  }
  .container-intro {
    width: 70%;
  }
  .container-tools > p {
    margin-bottom: 80px;
  }
  .contact-options {
    grid-template-columns: 1fr;
  }
  .footer-info {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 720px) {
  .tool {
    grid-template-columns: 1fr;
    margin-bottom: 80px;
  }
  .tool-images {
    display: none;
  }
  .tool-title {
    margin: 0 0 30px 0;
  }
  .container-intro {
    width: 80%;
  }
}

@media (max-width: 660px) {
  p.logo-text-footer {
    padding: 0;
  }
}

@media (max-width: 580px) {
  .contact-text {
    padding-right: 0;
  }
  .navbar-right {
    display: none;
  }
  .logo-navbar {
    width: 60px;
  }
  .container-navbar {
    padding-top: 20px;
    justify-content: center;
  }
  .languages-navbar {
    justify-content: center;
  }
  #cta-back-navbar {
    display: none;
  }
  #cta-back {
    display: inline-block;
  }
}

@media (max-width: 570px) {
  .logo {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .logo-text {
    font-size: 1.8rem;
    padding: 0 10px;
  }
  .logo-navbar {
    margin: 0 0 10px 0;
  }
  .hero {
    padding: 60px 30px;
  }
  .hero-title, .container-tools > h1 {
    font-size: 3rem;
  }
  li.numbered-list {
    padding: 0 0 40px 0;
    background-image: none;
  }
  li.numbered-list:last-child {
    background-image: none;
  }
  .container-tools > p {
    font-size: 1.4rem;
    padding: 0;
  }
  input, textarea {
    width: 100%;
  }
}

/* Utilities */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F9FAFB;
  font-family: 'Karla', sans-serif;
  font-size: 1.3rem;
  color: #1E255C;
  margin: 0;
}

h1, h2 {
  font-family: 'Jost', sans-serif;
  line-height: 1.3;
}

h1, h3 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-top: 120px;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
  color: #7D83FF;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 0 40px;
  margin-bottom: 120px;
}

p {
  line-height: 1.7;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  color: #7D83FF;
  text-align: center;
  font-size: 1rem;
}

/* Custom design */
.white {
  color: #F9FAFB;
}

.dark-blue {
  color: #1E255C;
  margin: 0;
}

.blue-background {
  background-color: #7D83FF;
}

a.active-language, a.active-language:hover {
  color: #F391B3;
}

a.active-language-blue, a.active-language-blue:hover {
  color: #1E255C;
}

.error {
  padding: 8rem 5rem;
  background: linear-gradient(180deg, rgba(125, 131, 255, 0.9) 0%, rgba(30, 37, 92, 0.9) 100%);
  max-height: 1000px;
  text-align: center;
}

.error-title {
  font-size: 9rem;
  margin-top: 0;
}

.email-address {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
