.btn {
  padding: 12.5px 20px;
  display: inline-block;
}

.btn-solid {
  color: #F9FAFB;
  background-color: #7D83FF;
  border-radius: 5px;
}

.btn-solid:hover {
  background-color: #3C4BB9;
}

.btn-navbar {
  padding: 12.5px 30px;
}

.btn-outline-round {
  background-color: #F9FAFB;
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 1.2rem;
}

.btn-outline-round:hover, .btn-form:hover {
  color: #F9FAFB;
  background-color: #F391B3;
}

.btn-form {
  background-color: #F9FAFB;
  color: #7D83FF;
  font-weight: 700;
  font-family: 'Jost', sans-serif;
  display: inline-flex;
  align-items: center;
}

.btn-form > i {
  margin-left: 10px;
}
