.tool {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 140px;
}

.tool > img {
  text-align: right;
  justify-self: end;
  width: 55%;
}

.tool-title {
  margin: 0 0 60px 0;
}

#facebook {
  justify-self: start;
}

#facebook:hover {

}

#youtube:hover {

}

#spotify:hover {

}
