.tool {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 120px;
}

.tool:last-child {
  margin-bottom: 140px;
}

.tool > img {
  text-align: right;
  justify-self: end;
  width: 55%;
  transition: 0.5s 1s;
}

.tool-title {
  margin: 0 0 60px 0;
}

#facebook {
  justify-self: start;
}
