.tool {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 120px;
}

.tool:last-child {
  margin-bottom: 140px;
}

.tool-images {
  text-align: right;
  position: relative;
}

.tool-images > img {
  width: 55%;
}

.tool-image-hover {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.tool-image-hover:hover {
  opacity: 1;
}

.tool-title {
  margin-bottom: 60px;
}

.facebook {
  text-align: left;
}

.facebook > img.tool-image-hover {
  left: 0;
}

.tool-images {
  position: relative;
}
