.container {
  margin: 0 auto;
  width: 90%;
}

.container-intro {
  margin: 6rem auto;
  width: 55%;
}

.container-intro > p {
  margin-bottom: 30px;
}

.container-intro > h2 {
  margin-top: 70px;
  margin-bottom: 40px;
}

.container-tools {
  margin: 0 auto;
  width: 80%;
}

.container-contact {
  padding: 120px 0;
}
