.contact-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-top: 60px;
}

.contact-text {
  padding-right: 160px;
}

.contact-info {
  margin: 60px 0;
  font-weight: 700;
  font-size: 1.6rem;
}

.contact-details {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contact-details > i {
  font-size: 2rem;
  margin-right: 30px;
}

.form-label {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

input, textarea {
  height: 40px;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  border: none;
  background-color: #7D83FF;
  border-bottom: 3px solid #1E255C;
}

input:focus, textarea:focus {
  outline: thin dotted;
  background-color: #F9FAFB;
}

textarea {
  resize: vertical;
}
