.hero {
  padding: 160px 200px;
  background: linear-gradient(180deg, rgba(125, 131, 255, 0.9) 0%, rgba(30, 37, 92, 0.9) 100%);
  text-align: center;
}

.hero-info {
  line-height: 1.8;
  color: #F9FAFB;
  margin-bottom: 60px;
}
