#logo-navbar {
  width: 45px;
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  font-size: 2rem;
}

.pro {
  color: #7D83FF;
  font-style: italic;
}

#logo-footer {
  width: 100px;
  margin-bottom: 20px;
}

.logo-footer {
  font-size: 2.4rem;
}
