.container-navbar {
  padding-bottom: 40px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languages-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.languages-navbar > a, .languages-navbar > p {
  font-family: 'Karla', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 5px;
  color: #7D83FF;
}

.languages-navbar > a:hover {
  color: #3C4BB9;
}

.navbar-right {
  display: flex;
}
